body {
    background-image: linear-gradient(90deg, #00a8ff80, #b900ff80), url('./app/shared/images/bg1.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}